body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

#editorjs {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    min-height: 300px; /* Добавь минимальную высоту, если её нет */
}


button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
